body {
    color: black;
    background-color: #ffe680;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}
/*header part started*/
header {
    position: relative;
    height: 13vh;
}
.relative {
    position: fixed;
    width: 94%;
    height: 12vh;
    margin-top: 1px;
    background: cornsilk;
    z-index: 9999;
    border-radius: 14px;
    left: 50%;
    transform: translateX(-50%);
}
.logo {
    color: brown;
    height: 60px;
    font-size: 34px;
    line-height: 80px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 900;
    text-decoration: none;
}
nav {
    float: right;
    margin-left: 5%;
    margin-top: 1%;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover {
    background-color: darkgoldenrod;
    color: #fff;
    transition: 0.5s;
}
@media (max-width:1056px) {
    .relative {
        height: 130px;
    }
    header {
        height: 19vh;
    }
}
/* header part complete*/
/* welcome part start*/
#showcase {
    width: 90%;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
    background-image: url('../images/img12.jpg');
    height: 410px;
    background-position: center;
    color: white;
    font-style: oblique;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.container1 {
    width: 45%;
}
.container1 h1 {
    color: #ffe680;
    text-align: center;
    margin-top: 30px;
}
.krishna {
    text-align: center;
    width: 45%;
}
.krishna p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}
/*welcome part end*/
/*animation 1 start*/
.maindiv {
    position: absolute;
    height: 75%;
    width: 45%;
    left: 50%;
    top: 14%;
    background-image: url('../images/lo11.jpg');
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 24s infinite;
}
@keyframes slider {
    0% {
        background-image: url('../images/lo11.jpg');
        background-size: 100% 100%;
    }
    16% {
        background-image: url('../images/lo11.jpg');
        background-size: 100% 100%;
    }
    33% {
        background-image: url('../images/lo12.jpg');
        background-size: 100% 100%;
    }
    49% {
        background-image: url('../images/lo13.jpg');
        background-size: 100% 100%;
    }
    66% {
        background-image: url('../images/lo14.jpg');
        background-size: 100% 100%;
    }
    83% {
        background-image: url('../images/lo15.jpg');
        background-size: 100% 100%;
    }
    100% {
        background-image: url('../images/lo16.jpg');
        background-size: 100% 100%;
    }
}
@media(max-width:939px) {
    .container1 {
        width: 100%;
    }
    .container1 h1 {
        margin-top: 20px;
        font-size: 25px;
    }
    .maindiv {
        margin-top: 40px;
        height: 50%;
    }
}
@media(max-width:770px) {
    .krishna {
        width: 100%;
    }
    #showcase {
        height: 700px;
    }
    .maindiv {
        height: 45%;
        width: 90%;
        transform: translate(-50%, 70%);
    }
}
@media(max-width:589px) {
    .maindiv {
        height: 38%;
        margin-top: 130px;
    }
}
@media(max-width:1083px) {
    .krishna p {
        font-size: 14px;
    }
}
@media(max-width:900px) {
    .krishna p {
        font-size: 13px;
    }
}
@media(max-width:770px) {
    .krishna p {
        font-size: 16px;
    }
}
/*welcome part complete*/
/*section 1 start*/
#sec1 {
    margin-top: 20px;
    width: 92%;
    margin: auto;
    margin-top: 20px;
}
#sec1 hr {
    width: 50%;
    margin-top: 10px;
    border-top: solid 2px brown;
}
#sec1 p {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    color: #671212;
}
/*section 1 complete*/
/*four box start*/
#krishna1 {
    margin-top: 50;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: 'poppins', sans-serif;
}
.container {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}
.container .box {
    position: relative;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #671212;
    border-radius: 10px;
}
.container .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
}
.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px)
}
.content h2 {
    position: absolute;
    top: -70px;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 8em;
    transition: .5s;
    color: #f4d555;
}
.box:hover .content h2 {
    top: -140px;
}
.box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    text-decoration: underline;
}
.box .content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: cursive;
}
.box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1.5px solid rgba(170, 5, 56, 0.9);
    display: inline-block;
    border-radius: 8px;
    color: black;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .content a:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
}
/*four box complete*/
/*animation 2 start*/
#slider {
    width: 100%;
    height: 65%;
    padding: 0;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
slider {
    display: flex;
    width: 43%;
    height: 82%;
    position: absolute;
    box-shadow: 0px 0px 10px 5px;
    margin: 43px;
    overflow: hidden;
}
slider > * {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: slide 24s infinite;
    overflow: hidden;
}
slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(../images/im1.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(../images/im2.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(../images/im3.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(../images/im4.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(5) {
    animation-delay: 11s;
    background-image: url(../images/im5.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(6) {
    animation-delay: 14s;
    background-image: url(../images/im6.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(7) {
    animation-delay: 17s;
    background-image: url(../images/im7.jpg);
    background-size: cover;
    background-position: center;
}
@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}
/*animation 2 complete*/
.number {
    position: absolute;
    width: 43%;
    height: 82%;
    left: 54%;
    margin-top: 40px;
    border: 2px rgba(170, 5, 56, 1) solid;
    border-radius: 15px;
}
.number p {
    font-family: cursive;
    font-size: 14px;
    max-height: 80%;
    padding-left: 10px;
    padding-right: 10px;
}
@media(max-width:1109px) {
    .number p {
        font-size: 13px;
    }
}
@media(max-width:928px) {
    .number p {
        font-size: 11px;
    }
}
@media(max-width:765px) {
    #slider {
        height: 121%;
    }
    slider {
        width: 89%;
        height: 47%;
    }
    .number {
        transform: translate(-54%, 112%);
        height: 44%;
        width: 89%;
    }
    .number p {
        font-size: 13px;
    }
}
/*gymnasium complete*/
#number1 {
    border: 3px solid #10a34f;
    max-width: 92%;
    margin: 4.5%;
    margin-top: 35px;
    overflow: hidden;
    border-radius: 15px;
}
.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 65%;
    padding: 22px 100px;
}
.contact:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100%;
    height: 100%;
    background: url(../images/contact12.jpg);
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}
.contactbox1 {
    width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    border: 2px solid white;
    margin-left: -4%;
    margin-right: 3%;
}
.right {
    padding: 25px 40px;
}
.left {
    height: 100%;
    background: url("../images/contact4.jpg") no-repeat center;
    background-size: cover;
}
.right h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ffe680;
}
.field {
    width: 90%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid white;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area {
    min-height: 50px;
}
.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgba(16, 195, 94, 0.8);
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    color: #fff;
}
.btn:hover {
    background-color: #27ae60;
}
@media screen and (max-width:880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
    .contactbox1 {
        margin-left: -8%;
    }
}
/*    portion complete*/
#last {
    width: 100%;
    height: 300px;
    background-color: #671212;
    border-top: 3px solid white;
    position: relative;
}
.last1 {
    margin: 3%;
    color: #ffcd00;
    width: 20%;
    margin-top: 30px;
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid #e0b609;
    border-radius: 10px;
    padding: 10px;
    background-color: #3c0606;
}
.last2 {
    position: absolute;
    color: #e0b609;
    width: 17%;
    line-height: 13px;
    font-family: sans-serif;
    margin-left: 37%;
    margin-top: 20px;
}
.last2 h3 {
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: cursive;
}
.last3 {
    position: absolute;
    color: #e0b609;
    width: 17%;
    line-height: 13px;
    font-family: sans-serif;
    margin-left: 57.5%;
    margin-top: 20px;
}
.last3 h3 {
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: cursive;
}
.last4 {
    position: absolute;
    color: #e0b609;
    width: 17%;
    line-height: 13px;
    font-family: sans-serif;
    margin-left: 80%;
    margin-top: 20px;
}
.last4 h3 {
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: cursive;
}
#location1 {
    background-image: url('../images/loca1.jpg');
    background-size: ;
    height: 250px;
    width: 85%;
    margin: 5%;
    margin-left: 8%;
    border-radius: 10px;
    border: 2px solid blue;
}
iframe {
    border-radius: 14px;
    width: 65%;
    margin-left: 17%;
    margin-right: 18%;
    margin-top: 1.4%;
}
.last1,
.last2,
.last3,
.last4,
a {
    text-decoration: none;
    color: #b59821;
}
@media(max-width:998px) {
    #last {
        height: 400px;
    }
}
@media(max-width:580px) {
    #last {
        height: 600px;
    }
    .last1 {
        width: 40%;
    }
    .last3 {
        margin-left: 55%;
        margin-top: 60px;
        width: 40%;
    }
    .last2 {
        margin-left: 10%;
        width: 40%;
        margin-top: 320px;
    }
    .last4 {
        margin-left: 60%;
        width: 40%;
        margin-top: 320px;
    }
}
